__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
.env/
ENV/

build/
dist/
*.spec
*.manifest
*.log

.vscode/
.idea/
*.sublime-workspace

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
.AppleDouble
.LSOverride

screenshots/

__pycache__/

*.tmp
*.bak
*.swp
